-i https://pypi.org/simple
black==26.3.1; python_version >= '3.10'
certifi==2026.4.22; python_version >= '3.7'
charset-normalizer==3.4.7; python_version >= '3.7'
click==8.3.3; python_version >= '3.10'
flake8==7.3.0; python_version >= '3.9'
idna==3.13; python_version >= '3.8'
iniconfig==2.3.0; python_version >= '3.10'
mccabe==0.7.0; python_version >= '3.6'
mypy-extensions==1.1.0; python_version >= '3.8'
packaging==26.2; python_version >= '3.8'
pathspec==1.1.1; python_version >= '3.9'
platformdirs==4.9.6; python_version >= '3.10'
pluggy==1.6.0; python_version >= '3.9'
pycodestyle==2.14.0; python_version >= '3.9'
pyflakes==3.4.0; python_version >= '3.9'
pygments==2.20.0; python_version >= '3.9'
pytest==9.0.3; python_version >= '3.10'
pytokens==0.4.1; python_version >= '3.8'
requests==2.33.1; python_version >= '3.10'
requests-mock==1.12.1; python_version >= '3.5'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
urllib3==2.6.3; python_version >= '3.9'
boto3==1.42.96; python_version >= '3.9'
botocore==1.43.6; python_version >= '3.9'
jmespath==1.1.0; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
s3transfer==0.16.1; python_version >= '3.9'
