AWS_ZONE_ID=your_aws_zone_id          # The route53 zone ID for the domain
AWS_DOMAIN_NAME=example.com           # The domain name for the A record to update
# Optional. Default level is INFO
LOG_LEVEL=DEBUG