AWS_ZONE_ID="zone ID" # The route53 zone ID for the domain
AWS_DOMAIN_NAME=blah  # The domain name for the A record to update
AWS_ACCESS_KEY=blah   # The AWS access key
AWS_SECRET_KEY=blah   # The AWS secret key