AWS_ZONE_ID=your_aws_zone_id          # The route53 zone ID for the domain
AWS_DOMAIN_NAME=example.com           # The domain name for the A record to update
AWS_ACCESS_KEY=your_aws_access_key    # The AWS access key
AWS_SECRET_KEY=your_aws_secret_key    # The AWS secret key

# Optional
LOG_LEVEL=DEBUG                       # The log level. Default is INFO